@charset "utf-8";

h1 {
    text-transform: uppercase;
    color: #F90;
    background: rgb(255, 255, 200);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

p:first-letter {
    font-size: xx-large;
    color: #900;
}

.error {
    color: red;
}

p.error:first-Line {
    color: #F0F;
    text-decoration: underline;
}